In [4]:
import pandas as pd

pd.set_option('display.max_columns', 500)

df = pd.read_csv("guillaume.txt",sep=';')

C:\Users\nagrimault\AppData\Local\Temp\ipykernel_8364\1550505711.py:5: DtypeWarning: Columns (1,2,5,6,7,8,9,15,16,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("guillaume.txt",sep=';')

In [5]:
df = df.drop(columns=["CodeDecision"])

df.head()

,ZIBZIN,IDAvisAutorisationCheque,FlagImpaye,Montant,DateTransaction,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,ScoringFP1,ScoringFP2,ScoringFP3,TauxImpNb_RB,TauxImpNB_CPM,EcartNumCheq,NbrMagasin3J,DiffDateTr1,DiffDateTr2,DiffDateTr3,CA3TRetMtt,CA3TR,Heure
0,A013010004908126703060931,78643044,0,20,2017-02-01 07:32:14,0,0,0,551,0,0,0,"37,186667890919111","52,076033757361408",0,1,4,4,4,20,0,27134
1,A013011306908024927155000,78643045,0,20,2017-02-01 07:43:37,0,0,0,551,0,0,0,"48,844716275908937","52,076033757361408",1,2,"1,7976851851851852",4,4,"28,609999999999999","8,6099999999999994",27817
2,A013010002908283134592527,78643046,0,"57,640000000000001",2017-02-01 07:47:38,0,0,0,549,0,0,0,"73,118279569892479","52,076033757361408",0,1,4,4,4,"57,640000000000001",0,28058
3,A011010002908105209831316,78643047,0,"54,289999999999999",2017-02-01 07:48:48,1,1,1,267,0,0,0,"110,05692599620494","53,554233554497365",0,1,4,4,4,"54,289999999999999",0,28128
4,A013010041908000125652029,78643048,0,"26,899999999999999",2017-02-01 08:13:27,0,0,0,549,"3,769090654336556E-3","8,5863334286662614","1,1922637097134124E-3","45,36831264567185","52,076033757361408",1,1,"1,9971064814814814",4,4,"59,149999999999999","32,25",29607

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4646774 entries, 0 to 4646773
Data columns (total 22 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ZIBZIN                    object
 1   IDAvisAutorisationCheque  object
 2   FlagImpaye                object
 3   Montant                   object
 4   DateTransaction           object
 5   VerifianceCPT1            object
 6   VerifianceCPT2            object
 7   VerifianceCPT3            object
 8   D2CB                      object
 9   ScoringFP1                object
 10  ScoringFP2                object
 11  ScoringFP3                object
 12  TauxImpNb_RB              object
 13  TauxImpNB_CPM             object
 14  EcartNumCheq              object
 15  NbrMagasin3J              object
 16  DiffDateTr1               object
 17  DiffDateTr2               object
 18  DiffDateTr3               object
 19  CA3TRetMtt                object
 20  CA3TR                     object
 21  Heure                     object
dtypes: object(22)
memory usage: 779.9+ MB

In [ ]:
# https://www.kaggle.com/code/janiobachmann/credit-fraud-dealing-with-imbalanced-datasets