# Séparation train / test

In [12]:
import pandas as pd

df = pd.read_csv('data/dataframe_clean.csv')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4646773 entries, 0 to 4646772
Data columns (total 27 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ZIBZIN                    object
 1   IDAvisAutorisationCheque  int64
 2   FlagImpaye                int64
 3   Montant                   float64
 4   CodeDecision              int64
 5   VerifianceCPT1            float64
 6   VerifianceCPT2            float64
 7   VerifianceCPT3            float64
 8   D2CB                      float64
 9   ScoringFP1                float64
 10  TauxImpNb_RB              float64
 11  EcartNumCheq              float64
 12  NbrMagasin3J              float64
 13  DiffDateTr1               float64
 14  DiffDateTr2               float64
 15  DiffDateTr3               float64
 16  CA3TRetMtt                float64
 17  CA3TR                     float64
 18  Heure                     int64
 19  Jour                      int64
 20  Mois                      int64
 21  Année                     int64
 22  Heure2                    int64
 23  Minute                    int64
 24  Seconde                   int64
 25  Date                      object
 26  Heures                    object
dtypes: float64(14), int64(10), object(3)
memory usage: 957.2+ MB

In [14]:
df.head()

,ZIBZIN,IDAvisAutorisationCheque,FlagImpaye,Montant,CodeDecision,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,ScoringFP1,...,CA3TR,Heure,Jour,Mois,Année,Heure2,Minute,Seconde,Date,Heures
0,A013010004908126703060931,78643044,0,20.00,1,0.0,0.0,0.0,551.0,0.0,...,0.0,27134,1,2,2017,7,32,14,2017-02-01,07:32:14
1,A013011306908024927155000,78643045,0,20.00,1,0.0,0.0,0.0,551.0,0.0,...,0.0,27817,1,2,2017,7,43,37,2017-02-01,07:43:37
2,A013010002908283134592527,78643046,0,57.64,1,0.0,0.0,0.0,549.0,0.0,...,0.0,28058,1,2,2017,7,47,38,2017-02-01,07:47:38
3,A011010002908105209831316,78643047,0,54.29,0,1.0,1.0,1.0,267.0,0.0,...,0.0,28128,1,2,2017,7,48,48,2017-02-01,07:48:48
4,A013010041908000125652029,78643048,0,26.90,1,0.0,0.0,0.0,549.0,0.0,...,0.0,29607,1,2,2017,8,13,27,2017-02-01,08:13:27

In [17]:
import pandas as pd

date_debut = pd.to_datetime("2017-02-01")
date_fin = pd.to_datetime("2017-08-31")
df_train = df[(pd.to_datetime(df['Date']) >= date_debut) & (pd.to_datetime(df['Date']) <= date_fin)]

date_debut_test = pd.to_datetime("2017-09-01")
date_fin_test = pd.to_datetime("2017-11-30")
df_test = df[(pd.to_datetime(df['Date']) >= date_debut_test) & (pd.to_datetime(df['Date']) <= date_fin_test)]

In [18]:
print(df_train.shape)
df_train.head()

(3899362, 27)

,ZIBZIN,IDAvisAutorisationCheque,FlagImpaye,Montant,CodeDecision,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,ScoringFP1,...,CA3TR,Heure,Jour,Mois,Année,Heure2,Minute,Seconde,Date,Heures
0,A013010004908126703060931,78643044,0,20.00,1,0.0,0.0,0.0,551.0,0.0,...,0.0,27134,1,2,2017,7,32,14,2017-02-01,07:32:14
1,A013011306908024927155000,78643045,0,20.00,1,0.0,0.0,0.0,551.0,0.0,...,0.0,27817,1,2,2017,7,43,37,2017-02-01,07:43:37
2,A013010002908283134592527,78643046,0,57.64,1,0.0,0.0,0.0,549.0,0.0,...,0.0,28058,1,2,2017,7,47,38,2017-02-01,07:47:38
3,A011010002908105209831316,78643047,0,54.29,0,1.0,1.0,1.0,267.0,0.0,...,0.0,28128,1,2,2017,7,48,48,2017-02-01,07:48:48
4,A013010041908000125652029,78643048,0,26.90,1,0.0,0.0,0.0,549.0,0.0,...,0.0,29607,1,2,2017,8,13,27,2017-02-01,08:13:27

In [19]:
print(df_test.shape)
df_test.head()

(747411, 27)

,ZIBZIN,IDAvisAutorisationCheque,FlagImpaye,Montant,CodeDecision,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,ScoringFP1,...,CA3TR,Heure,Jour,Mois,Année,Heure2,Minute,Seconde,Date,Heures
3899362,A013010041908016988600129,83140472,0,60.00,0,0.0,0.0,0.0,302.0,0.0,...,0.0,27257,1,9,2017,7,34,17,2017-09-01,07:34:17
3899363,A013010002908287200994626,83140475,0,25.00,0,0.0,0.0,0.0,547.0,0.0,...,0.0,29177,1,9,2017,8,6,17,2017-09-01,08:06:17
3899364,A013010041908001942662129,83140477,0,32.00,0,0.0,0.0,0.0,152.0,0.0,...,0.0,29283,1,9,2017,8,8,3,2017-09-01,08:08:03
3899365,A033010041908015841211322,83140480,0,20.88,0,0.0,0.0,0.0,393.0,0.0,...,0.0,29343,1,9,2017,8,9,3,2017-09-01,08:09:03
3899366,A013010041908025107291629,83140481,0,20.21,0,0.0,0.0,0.0,152.0,0.0,...,0.0,29497,1,9,2017,8,11,37,2017-09-01,08:11:37

In [20]:
df_train['FlagImpaye'] = pd.to_numeric(df_train['FlagImpaye'], errors='coerce')
print(df_train['FlagImpaye'].dtypes)

int64

C:\Users\nagrimault\AppData\Local\Temp\ipykernel_5760\4082704510.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['FlagImpaye'] = pd.to_numeric(df_train['FlagImpaye'], errors='coerce')

In [21]:
df_train.to_csv('data/dataframe_train.csv')
df_test.to_csv('data/dataframe_test.csv')