# Séparation train / test

In [1]:
import pandas as pd

df = pd.read_csv('../data/dataframe_clean.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4646773 entries, 0 to 4646772
Data columns (total 25 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ZIBZIN                    object
 1   IDAvisAutorisationCheque  int64
 2   FlagImpaye                int64
 3   Montant                   float64
 4   CodeDecision              int64
 5   VerifianceCPT1            int64
 6   VerifianceCPT2            int64
 7   VerifianceCPT3            int64
 8   D2CB                      float64
 9   ScoringFP1                float64
 10  ScoringFP2                float64
 11  ScoringFP3                float64
 12  TauxImpNb_RB              float64
 13  TauxImpNB_CPM             float64
 14  EcartNumCheq              int64
 15  NbrMagasin3J              int64
 16  DiffDateTr1               float64
 17  DiffDateTr2               float64
 18  DiffDateTr3               float64
 19  CA3TRetMtt                float64
 20  CA3TR                     float64
 21  Heure                     int64
 22  Jour                      int64
 23  Mois                      int64
 24  Date                      object
dtypes: float64(12), int64(11), object(2)
memory usage: 886.3+ MB

In [3]:
import pandas as pd

date_debut = pd.to_datetime("2017-02-01")
date_fin = pd.to_datetime("2017-08-31")
df_train = df[(pd.to_datetime(df['Date']) >= date_debut) & (pd.to_datetime(df['Date']) <= date_fin)]

date_debut_test = pd.to_datetime("2017-09-01")
date_fin_test = pd.to_datetime("2017-11-30")
df_test = df[(pd.to_datetime(df['Date']) >= date_debut_test) & (pd.to_datetime(df['Date']) <= date_fin_test)]

In [4]:
print(df_train.shape)
df_train.head()

(3899362, 25)

,ZIBZIN,IDAvisAutorisationCheque,FlagImpaye,Montant,CodeDecision,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,ScoringFP1,...,NbrMagasin3J,DiffDateTr1,DiffDateTr2,DiffDateTr3,CA3TRetMtt,CA3TR,Heure,Jour,Mois,Date
0,A013010004908126703060931,78643044,0,20.00,1,0,0,0,551.0,0.000000,...,1,4.000000,4.0,4.0,20.00,0.00,27134,1,2,2017-02-01
1,A013011306908024927155000,78643045,0,20.00,1,0,0,0,551.0,0.000000,...,2,1.797685,4.0,4.0,28.61,8.61,27817,1,2,2017-02-01
2,A013010002908283134592527,78643046,0,57.64,1,0,0,0,549.0,0.000000,...,1,4.000000,4.0,4.0,57.64,0.00,28058,1,2,2017-02-01
3,A011010002908105209831316,78643047,0,54.29,0,1,1,1,267.0,0.000000,...,1,4.000000,4.0,4.0,54.29,0.00,28128,1,2,2017-02-01
4,A013010041908000125652029,78643048,0,26.90,1,0,0,0,549.0,0.003769,...,1,1.997106,4.0,4.0,59.15,32.25,29607,1,2,2017-02-01

In [5]:
print(df_test.shape)
df_test.head()

(747411, 25)

,ZIBZIN,IDAvisAutorisationCheque,FlagImpaye,Montant,CodeDecision,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,ScoringFP1,...,NbrMagasin3J,DiffDateTr1,DiffDateTr2,DiffDateTr3,CA3TRetMtt,CA3TR,Heure,Jour,Mois,Date
3899362,A013010041908016988600129,83140472,0,60.00,0,0,0,0,302.0,0.000000,...,1,4.000000,4.000000,4.000000,60.00,0.00,27257,1,9,2017-09-01
3899363,A013010002908287200994626,83140475,0,25.00,0,0,0,0,547.0,0.000000,...,1,4.000000,4.000000,4.000000,25.00,0.00,29177,1,9,2017-09-01
3899364,A013010041908001942662129,83140477,0,32.00,0,0,0,0,152.0,0.000000,...,1,4.000000,4.000000,4.000000,32.00,0.00,29283,1,9,2017-09-01
3899365,A033010041908015841211322,83140480,0,20.88,0,0,0,0,393.0,0.007590,...,1,0.573461,0.998206,1.539155,92.39,71.51,29343,1,9,2017-09-01
3899366,A013010041908025107291629,83140481,0,20.21,0,0,0,0,152.0,0.018994,...,1,4.000000,4.000000,4.000000,20.21,0.00,29497,1,9,2017-09-01

In [6]:
# df_train['FlagImpaye'] = pd.to_numeric(df_train['FlagImpaye'], errors='coerce')
# print(df_train['FlagImpaye'].dtypes)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4646773 entries, 0 to 4646772
Data columns (total 25 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ZIBZIN                    object
 1   IDAvisAutorisationCheque  int64
 2   FlagImpaye                int64
 3   Montant                   float64
 4   CodeDecision              int64
 5   VerifianceCPT1            int64
 6   VerifianceCPT2            int64
 7   VerifianceCPT3            int64
 8   D2CB                      float64
 9   ScoringFP1                float64
 10  ScoringFP2                float64
 11  ScoringFP3                float64
 12  TauxImpNb_RB              float64
 13  TauxImpNB_CPM             float64
 14  EcartNumCheq              int64
 15  NbrMagasin3J              int64
 16  DiffDateTr1               float64
 17  DiffDateTr2               float64
 18  DiffDateTr3               float64
 19  CA3TRetMtt                float64
 20  CA3TR                     float64
 21  Heure                     int64
 22  Jour                      int64
 23  Mois                      int64
 24  Date                      object
dtypes: float64(12), int64(11), object(2)
memory usage: 886.3+ MB

In [8]:
df_train.to_csv('../data/dataframe_train.csv',index=False)
df_test.to_csv('../data/dataframe_test.csv',index=False)